@media screen and (max-width: 1399.99px) {
    .banner {
        .template-title {
            margin-bottom: 48px;
        }
    }
}

@media screen and (max-width: 1559.99px) {
    .carousel-wrapper {
        max-width: 929px;
        margin: 0 auto;
    }

}
