@media screen and (max-width: 1024.99px) {
    header {
        padding: 34px 0;

        >.container {
            gap: 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 88px;
            background-color: $bg-color;
        }
    }

    .container {
        padding: 0 12px;
        max-width: 379px;
    }

    .header-logo {
        max-width: 114px;
    }

    .mobile-container {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        padding: 25px 25px 50px;
        background-color: #0B0C0D;
        background-image: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.62) 51.85%);
        transition: .5s;
        transform: translate(0, -100%);
        visibility: hidden;

        &.show {
            top: 88px;
            display: block;
            transform: translate(0, 0);
            visibility: visible;
        }
    }

    .menu__list {
        flex-direction: column;
        gap: 48px;
        font-size: 18px;
    }

    .footer {
        padding: 21px 0;

        &-row {
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 38px;
        }

        &__logo {
            max-width: 134px;
            margin-bottom: 36px;
        }

        &-nav {
            order: 1;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px 42px;
            padding: 0;

            &::before {
                content: none;
            }

            &__column {
                padding: 0;
            }

            &__title {
                font-size: 15px;
                margin-bottom: 10px;
            }

            &__item {
                margin-bottom: 10px;
            }

            &__link {
                font-size: 15px;
            }
        }
    }

    .btn {
        &.btn-outline {
            margin-left: auto;
            width: 53px;
            height: 53px;
            border-radius: 18px;
            margin-bottom: 36px;

            svg {
                height: 22px;
            }
        }
    }

    .footer-phone__item {
        font-size: 16px;

        &::before {
            content: none;
        }

    }

    .footer-social__item {
        width: 32px;
        height: 32px;
    }
}
