@media screen and (max-width: 1199.99px) {
    .banner {
        .template-title {
            margin-bottom: 42px;
        }
    }

    .advantages {
        &-row {
            padding: 36px 78px;
        }

        .accent-label-sm {
            top: -50px;
            left: 0px;
        }
    }

    .advantage__img-box {
        img {
            max-width: 200px;
            max-height: 200px;
        }
    }

    .advantage {
        h3 {
            font-size: 1.5rem;
        }
    }

    .carousel-wrapper {
        max-width: 590px;
    }

    .event-title {
        font-size: 28px;
    }

    .events-line {
        display: none;
    }

    .footer-nav {
        max-width: 670px;
    }
}
