@media screen and (max-width: 575.99px) {
    .template-title {
        font-size: min(12vw, 48px);
    }

    .template-description {
        font-size: 0.75rem;
    }

    .accent-label {
        --size: 17.5vw;
        --max-size: 71px;
        font-size: min(7.5vw, 55px);
    }

    .accent-label-sm {
        --max-size: 58px;
        font-size: min(7.5vw, 18px);
    }

    .accent-label-md {
        --max-size: 58px;
        font-size: min(7.5vw, 18px);
    }

    .header-logo {
        max-width: 114px;
    }

    .btn-burger {
        width: 42px;
    }

    .banner {
        &-line {
            bottom: -13vw;
            right: -5vw;
        }

        img {
            max-width: 271px;
        }

        .btn {
            font-size: 16px;
            padding: 17px 24px;
        }

        &-statistics__title {
            font-size: 42px;
        }

        &-statistics__description {
            font-size: 12px;
        }

        .accent-label {
            top: 0px;
            right: 94px;
        }
    }

    .advantages {
        .accent-label-sm {
            top: -31px;
            left: initial;
            right: -13px;
        }
    }

    .we-make {
        &__img-box {
            max-width: 163px;

            .accent-label-md {
                top: 88px;
                right: -134px;
            }
        }

        &__content-box {
            &::before {
                top: 87px;
            }

            .template-title {
                max-width: 243px;
            }

            .template-description {
                font-size: 0.875rem;
            }
        }

        &__process {
            min-height: 163px;
            max-width: 255px;
        }

        .btn-primary {
            padding: 14px 29px;
            gap: 12px;
            font-size: 14px;
            align-items: center;

            svg {
                width: 17px;
                height: 22px;
            }
        }

        &__line-mobile {
            top: -45px;
            right: -26px;
        }
    }

    .products__content-box {
        .template-description {
            max-width: 302px;
            font-size: 0.875rem;
        }
    }

    .carousel-wrapper {
        max-width: 184px;
    }

    .product {
        padding: 38px 20px 22px;
        max-width: 184px;

        &__img {
            --size: 120px;
            width: var(--size);
            height: var(--size);

            img {
                width: 120px;
                height: 160px;
            }
        }

        &__title,
        &__price {
            font-size: 22px;
        }

        &__description,
        &__volume {
            font-size: 14px;
        }

        .btn {
            padding: 12px 23px;
            font-size: 12px;
        }
    }

    .events {
        .carousel-wrapper {
            max-width: 170px;
        }

        &__content-box {
            .template-description {
                font-size: 14px;
            }
        }
    }

    .event-item {
        .event-title {
            font-size: 18px;
        }

        .btn {
            padding: 14px 30px;
            font-size: 14px;
        }
    }
}
