@media screen and (max-width: 1024.99px) {
    section {
        margin-bottom: $section-mobile-margin;
    }

    .template-title {
        font-size: min(9vw, 64px);
    }

    .template-description {
        font-size: 1rem;
    }

    .accent-label {
        --size: 17.5vw;
        --max-size: 123px;
        font-size: min(10vw, 55px);
    }

    .accent-label-sm {
        --max-size: 90px;
        font-size: min(10vw, 27px);
    }

    .accent-label-md {
        --max-size: 120px;
        font-size: min(10vw, 32px);
    }

    header {
        padding: 36px 0;

        >.container {
            gap: 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            width: 100%;
            height: 88px;
            background-color: $bg-color;
        }
    }

    .header-logo {
        img {
            max-width: 114px;
            min-height: 24px;
        }
    }

    .mobile-container {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        padding: 25px 25px 50px;
        background-color: #0B0C0D;
        background-image: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.62) 51.85%);
        transition: .5s;
        transform: translate(0, -100%);
        visibility: hidden;
        flex-direction: column;
        --gap: 40px;

        .btn {
            margin-left: initial;
            font-size: 14px;
        }

        &.show {
            top: 89px;
            transform: translate(0, 0);
            visibility: visible;
            z-index: 2;
        }
    }

    .btn-burger {
        width: 52px;
    }

    .menu__list {
        flex-direction: column;
        gap: 48px;
        font-size: 18px;
    }

    .banner {
        .accent-label {
            top: 0px;
            right: 82px;
        }

        img {
            max-width: 400px;
        }

        .container {
            flex-direction: column-reverse;
            align-items: center;
        }

        .template-title {
            margin-bottom: 36px;

            &::after {
                background: url(./assets/img/decoration-banner__light-title-mobile.png) no-repeat;
                top: -78px;
                left: 93px;
                width: 360px;
                height: 292px;
            }
        }

        .template-description {
            margin-bottom: 36px;
        }

        &-btn-group {
            gap: 10px;
            margin-bottom: 36px;

            .btn {
                font-size: 18px;
                padding: 17px 24px;
            }

            &::before {
                background: url(./assets/img/decoration-banner__light-btn-mobile.png);
                top: -202px;
                left: -68px;
                transform: none;
                width: 529px;
                height: 529px;
            }
        }

        &-statistics {
            gap: 30px;

            &__item {
                max-width: 85px;
            }

            &__title {
                font-size: 52px;
            }

            &__description {
                font-size: 16px;
            }
        }

        &-img {
            margin-right: initial;
            padding: 0px 66px;

            &::before {
                display: none;
            }

            &::after {
                background: url(./assets/img/decoration-banner__light-img-mobile.png);
                width: 529px;
                height: 529px;
                bottom: 50%;
                right: 50%;
            }
        }


        &-line {
            bottom: -8vw;
            right: -5vw;
            width: 100%;
            height: auto;
        }
    }

    .advantages {
        .accent-label-sm {
            top: -50px;
            left: initial;
            right: -25px;
        }

        &-row {
            flex-direction: column;
            padding: 19px 42px;
            max-width: 218px;
            border-radius: 26px;

            &::before {
                top: -262px;
                left: -142px;
            }

            &::after {
                top: calc(100% - 100px);
                left: 54px;
            }
        }
    }

    .advantage {
        &__img-box {
            --size: 86px;
            margin-bottom: 8px;

            img {
                max-width: 124px;
                max-height: 124px;
            }
        }

        &__title {
            margin-bottom: 0px;
            font-size: 1.125rem;
        }

        &__description {
            font-size: 0.75rem;
        }
    }

    .we-make {
        .container {
            flex-direction: column;
            margin-left: 11px;
        }

        &__img-box {
            right: -18px;
            margin: 0px 0px 60px;
            max-width: 300px;

            &::before {
                top: 12px;
                right: 15px;
            }

            &::after {
                bottom: -107px;
                left: -57px;
            }

            .accent-label-md {
                top: 124px;
                right: -330px;
            }
        }

        &__content-box {
            &::before {
                top: 145px;
                right: 142px;
                width: 163px;
                height: 160px;
                background: url(./assets/img/decoration-we-make__light-description-mobile.png) no-repeat;
            }

            .template-title {
                margin-bottom: 35px;
            }

            .template-description {
                margin-bottom: 38px;
                font-size: 1.125rem;
                letter-spacing: 0.6px;
            }
        }

        &__process {
            min-height: 200px;
            max-width: 322px;
        }

        .btn-primary {
            padding: 14px 29px;
            gap: 12px;
            font-size: 14px;
            align-items: center;

            svg {
                width: 17px;
                height: 22px;
            }
        }

        &__line {
            display: none;
        }

        &__line-mobile {
            display: block;
            position: absolute;
            top: -96px;
            right: -67px;
            min-width: 475px;
            z-index: -2;
        }
    }

    .modal {
        padding: 20px 20px;

        .btn-secondary {
            right: 10px;
            top: 17px;
        }

        button {
            padding: 0px 20px;
            font-size: 20px;
        }

        .template-title {
            font-size: min(9vw, 38px);
            font-weight: 600;
        }

        video {
            margin-bottom: 20px;
        }

        svg {
            width: 26px;
            height: 24px;
        }

        h4 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    .products__content-box {
        gap: 36px;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 42px;

        .template-title {
            margin: 0px;
        }

        .template-description {
            font-size: 1.125rem;
        }
    }

    .carousel-wrapper {
        .swiper-button-prev {
            left: -84px;
        }

        .swiper-button-next {
            right: -84px;
        }
    }

    .events__content-box {
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        margin-left: 100px;
        margin-bottom: 38px;

        .template-title {
            margin-bottom: 0px;
        }

        .template-description {
            max-width: 378px;
            font-size: 1.125rem;
        }
    }

    .events {
        .carousel-wrapper {
            max-width: 530px;

            &::before {
                content: none;
            }

            &::after {
                content: none;
            }
        }
    }

    .event-item {
        .btn-primary {
            padding: 19px 46px;
            font-size: 18px;
        }
    }

    .event_area-1,
    .event_area-2,
    .event_area-4 {
        &::before {
            content: none;
        }
    }


    .footer {
        padding: 21px 0;

        &-row {
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 38px;
        }

        &__logo {
            max-width: 134px;
            margin-bottom: 36px;
        }

        &-nav {
            order: 1;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px 42px;
            padding: 0;

            &::before {
                content: none;
            }

            &__column {
                padding: 0;
            }

            &__title {
                font-size: 15px;
                margin-bottom: 10px;
            }

            &__item {
                margin-bottom: 10px;
            }

            &__link {
                font-size: 15px;
            }
        }

        &-phone__item {
            font-size: 16px;

            &::before {
                content: none;
            }
        }

        &-social__item {
            width: 32px;
            height: 32px;
        }
    }

    .btn {
        &.btn-outline {
            margin-left: auto;
            width: 53px;
            height: 53px;
            border-radius: 18px;
            margin-bottom: 36px;

            svg {
                height: 22px;
            }
        }
    }
}
