@media screen and (max-width: 767.99px) {
    .banner-line {
        bottom: -11vw;
        right: -7vw;
    }

    .accent-label-sm {
        --size: 14vw;
        font-size: min(3.5vw, 24px);
    }
}
