@media screen and (max-width: 767.99px) {
    .accent-label {
        font-size: min(8vw, 55px);
    }

    .accent-label-sm {
        --max-size: 72px;
        font-size: min(10vw, 18px);
    }

    .banner-line {
        bottom: -11vw;
        right: -7vw;
    }

    .advantages {
        .accent-label-sm {
            top: -39px;
            left: initial;
            right: -28px;
        }
    }
}
