.banner {
    .container {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: flex-start;
    }

    &-content {
        max-width: 574px;
    }

    .template-title {
        position: relative;
        margin-bottom: 54px;

        &::after {
            @include template-decoration;
            background: url(./assets/img/decoration-banner__light-title.png);
            top: -182px;
            left: -124px;
            transform: none;
            width: 586px;
            height: 653px;
        }
    }

    .template-description {
        margin-bottom: 54px;
        max-width: 572px;
    }

    &-btn-group {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 54px;
        position: relative;

        &::before {
            @include template-decoration;
            background: url(./assets/img/decoration-banner__light-btn.png);
            top: -283px;
            left: 172px;
            transform: none;
            width: 603px;
            height: 603px;
        }
    }

    &-statistics {
        display: flex;
        gap: 46px;

        &__item {
            max-width: 127px;
        }

        &__title {
            font-size: 62px;
            line-height: 1.1;
        }

        &__description {
            font-size: 20px;
            line-height: 1.445;
        }
    }

    &-img {
        margin-right: 43px;
        position: relative;

        &::before {
            @include template-decoration;
            background: url(./assets/img/decoration-banner__light-img-sm.png);
            top: -78px;
            left: -126px;
            z-index: -2;
            transform: none;
            width: 479px;
            height: 479px;
        }

        &::after {
            @include template-decoration;
            background: url(./assets/img/decoration-banner__light-img-md.png);
            top: calc(100% - 115px);
            left: -50px;
            z-index: -3;
            transform: translate(0, -50%);
            width: 676px;
            height: 676px;
        }

        img {
            position: relative;
            z-index: -1;
        }
    }

    &-line {
        position: absolute;
        bottom: -258px;
        right: -280px;
        width: 910px;
        height: 676px;
        z-index: -2;
    }

    .accent-label {
        top: -10px;
        right: 43px;

        span {
            transform: rotate(-16deg);
        }
    }
}
