.footer {
    margin-top: auto;
    padding: 36px 0 38px;
    background-color: $bg-accent-color;
    overflow: hidden;

    &-row,
    &-contacts {
        display: flex;
    }

    &-row {
        align-items: flex-start;
        margin-bottom: 79px;
    }

    &__logo {
        position: relative;
        z-index: 1;

        &::before {
            @include template-decoration;
            width: 371px;
            height: 260px;
            background-image: url(./assets/img/decoration-footer__light-md.png);
        }
    }

    &-nav {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        max-width: 786px;
        width: 100%;
        margin: 0 auto;
        padding: 5px 0;
        
        &::before {
            @include template-decoration;
            width: 1273px;
            height: 923px;
            background-image: url(./assets/img/decoration-footer__light-lg.png);
        }
        
        &__column {
            padding: 0 12px;
        }
        
        &__title {
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 20px;
            color: #BBB3B3;
        }
        
        &__item {
            margin-bottom: 11px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &__link {
            font-size: 20px;
            color: #565454;
        }
    }
    
    &-contacts {
        align-items: center;
    }
    
    &-phone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        width: 100%;
        margin-right: auto;

        .btn {
            z-index: 1;
            padding: 10px 20px;
        }
        
        &__item {
            position: relative;
            z-index: 1;
            font-weight: 500;
            font-size: 26px;
            color: transparent;
            background-image: linear-gradient(245deg, #237249 0%, #35c66b 100%);
            background-clip: text;

            &::before {
                @include template-decoration;
                width: 371px;
                height: 260px;
                background-image: url(./assets/img/decoration-footer__light-md.png);
            }
        }
    }

    &-social {
        margin-left: auto;

        &__item {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: 47px;
            height: 47px;

            &::before {
                content: "";
                position: absolute;
                top: -44px;
                left: -75px;
                z-index: -1;
                width: 168px;
                height: 153px;
                background-image: url(./assets/img/decoration-footer__light-sm.png);
            }
        }
    }
}

