.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #23724942;
    backdrop-filter: blur(2px);
    width: 0;
    height: 0;
    transition: 0.3s;
    cursor: pointer;

    &.show {
        width: 100vw;
        height: 100vh;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    max-width: 500px;
    width: 100%;
    background-color: #35C66B;
    border-radius: 30px;
    padding: 10px 10px;
    text-align: justify;
    visibility: hidden;
    transition: .5s;
    opacity: 0;

    .process__title {
        margin-bottom: 5px;
        font-size: 20px;
        color: $title-color;
    }

    &-content {
        margin-bottom: 30px;

        video {
            width: 100%;
        }

        .btn-primary {
            border: 3px solid $title-color;
            color: $title-color;
        }
    }

    button {
        padding: 3px 15px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        color: #35C66B;
        font-weight: 600;
    }

    .btn-secondary {
        position: absolute;
        right: 25px;
        top: 7px;

        &:hover {
            color: $title-color;
        }
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }

    .d-flex {
        gap: 20px;
        align-items: center;
    }

    &-description {
        margin-left: auto;
    }

    #html,
    #css,
    #js {
        cursor: pointer;
        margin-left: auto;
        border-radius: 0px;
    }
}
