<div id="feedback" class="modal">
    <button class="btn btn-secondary" data-close-modal>X</button>
    <h2 class="template-title">Feedback</h2>
    <div class="modal-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque reiciendis, inventore incidunt quod unde ipsam aperiam, similique excepturi quo iste culpa placeat! Nulla, ea. Fugiat cum mollitia porro qui?
    </div>
    <button class="btn btn-primary" type="button" data-close-modal>Close</button>
</div>

<div id="process" class="modal video-process">
    <button class="btn btn-secondary" data-close-modal>X</button>
    <h2 class="template-title">Process</h2>
    <div class="modal-content">
        <video id="video" src="./assets/img/HTML, CSS and JavaScript.mp4" controls></video>
        <div class="d-flex">
            <div class="modal-button">
                <button id="play" class="btn btn-primary">
                    <svg>
                        <use href="#icon-triangle"></use>
                    </svg>
                </button>
                <button id="pause" class="btn btn-primary">
                    <svg>
                        <use href="#icon-pause"></use>
                    </svg>
                </button>
                <button id="stop" class="btn btn-primary">
                    <svg>
                        <use href="#icon-stop"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-description">
                <h4 id="html">HTML</h4>
                <h4 id="css">CSS</h4>
                <h4 id="js">JS</h4>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="button" data-close-modal>Close</button>
</div>

<div id="about" class="modal">
    <button class="btn btn-secondary" data-close-modal>X</button>
    <h2 class="template-title">About us</h2>
    <div class="modal-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto labore debitis molestiae omnis unde cumque corrupti porro! Minus nam quis neque vero vel asperiores deserunt expedita nobis, alias eum doloremque.
    </div>
    <button class="btn btn-primary" type="button" data-close-modal>Close</button>
</div>
