<div id="feedback" class="modal">
    <button class="btn btn-secondary" data-close-modal>X</button>
    <h2>Feedback</h2>
    <div class="modal-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque reiciendis, inventore incidunt quod unde ipsam aperiam, similique excepturi quo iste culpa placeat! Nulla, ea. Fugiat cum mollitia porro qui?
    </div>
    <button class="btn btn-primary" type="button" data-close-modal>Close</button>
</div>

<div id="process" class="modal">
    <button class="btn btn-secondary" data-close-modal>X</button>
    <h2>Process</h2>
    <div class="modal-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ipsa, laborum nostrum mollitia debitis voluptas suscipit culpa earum ducimus voluptatem. Architecto, eveniet qui enim illo debitis saepe voluptates incidunt necessitatibus!
    </div>
    <button class="btn btn-primary" type="button" data-close-modal>Close</button>
</div>

<div id="about" class="modal">
    <button class="btn btn-secondary" data-close-modal>X</button>
    <h2>About us</h2>
    <div class="modal-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto labore debitis molestiae omnis unde cumque corrupti porro! Minus nam quis neque vero vel asperiores deserunt expedita nobis, alias eum doloremque.
    </div>
    <button class="btn btn-primary" type="button" data-close-modal>Close</button>
</div>